django==5.2.7
djangorestframework
django-allauth
python-dotenv
psycopg2-binary
django-tailwind
django-csp
requests
PyJWT
cryptography
social-auth-app-django
google-generativeai
django-user-agents
twilio
markdown
pillow