{% extends 'partials/layout/layout2.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

<div class="rainbow-blog-section rainbow-section-gap-big bg-color-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% if user.is_authenticated %}
                <div class="text-center mb--40">
                    <a href="{% url 'aiwave-blog-create' %}" class="btn-default btn-border btn-opacity">
                        <span>Create New Blog Post</span>
                    </a>
                </div>
                {% endif %}
                {% if user.is_authenticated and user == post.author %}
                <div class="text-center mb--20">
                    <form method="post" action="{% url 'aiwave-blog-delete' post.pk %}" class="delete-blog-form" style="display:inline;">
                        {% csrf_token %}
                        <button type="button" class="btn-default btn-border btn-opacity btn-delete-blog">
                            <i class="feather-trash-2"></i> Delete Blog
                        </button>
                        <span class="delete-confirmation" style="display:none;">
                            Are you sure?
                            <button type="button" class="btn-confirm-delete">Yes, Delete</button>
                        </span>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row row--30">
            <div class="col-lg-8">
                <div class="rainbow-blog-details-area">
                    <div class="post-page-banner">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="content text-center">
                                        <div class="thumbnail">
                                            <img class="w-100 radius" src="{{ post.featured_image.url }}" alt="{{ post.title }}">
                                        </div>
                                        <ul class="rainbow-meta-list">
                                            <li>
                                                <i class="feather-user"></i>
                                                <a href="#">{{ post.author.get_full_name|default:post.author.username }}</a>
                                            </li>
                                            <li>
                                                <i class="feather-calendar"></i>
                                                {{ post.created_at|date:"d M Y" }}
                                            </li>
                                            <li>
                                                <i class="feather-eye"></i>
                                                {{ post.views }} views
                                            </li>
                                            <li>
                                                <i class="feather-tag"></i>
                                                <a href="{% url 'aiwave-blog' %}?category={{ post.category }}" class="category-link">{{ post.category }}</a>
                                            </li>
                                        </ul>
                                        <h1 class="title">{{ post.title }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details-content pt--40 rainbow-section-gapBottom">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="content">
                                        {{ post.html_content|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt_md--40 mt_sm--40">
                <aside class="rainbow-sidebar">
                    <div class="rbt-single-widget widget_search mt--40">
                        <div class="inner">
                            <form class="blog-search" action="{% url 'aiwave-blog' %}" method="GET">
                                {% csrf_token %}
                                <input type="text" name="search" placeholder="Search ...">
                                <button type="submit" class="search-button">
                                    <i class="feather-search"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="rbt-single-widget widget_categories mt--40">
                        <h3 class="title">Categories</h3>
                        <div class="inner">
                            <ul class="category-list">
                                <li>
                                    <a href="{% url 'aiwave-blog' %}" class="category-link">
                                        <span class="left-content">All Posts</span>
                                        <span class="count-text">{{ total_posts_count }}</span>
                                    </a>
                                </li>
                                {% for category in categories %}
                                <li>
                                    <a href="{% url 'aiwave-blog' %}?category={{ category.category }}" class="category-link {% if selected_category == category.category %}active{% endif %}">
                                        <span class="left-content">{{ category.category }}</span>
                                        <span class="count-text">{{ category.count }}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="rbt-single-widget widget_recent_entries mt--40">
                        <h3 class="title">Recent Posts</h3>
                        <div class="inner">
                            <ul>
                                {% for recent_post in recent_posts %}
                                <li>
                                    <div class="list-blog-sm">
                                        <div class="img">
                                            <img src="{{ recent_post.featured_image.url }}" alt="{{ recent_post.title }}">
                                        </div>
                                        <div class="content">
                                            <a class="d-block" href="{% url 'aiwave-blog-details' recent_post.slug %}">
                                                {{ recent_post.title }}
                                            </a>
                                            <span class="cate">{{ recent_post.category }}</span>
                                        </div>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% if post.tags %}
                    <div class="rbt-single-widget widget_tag_cloud mt--40">
                        <h3 class="title">Tags</h3>
                        <div class="inner">
                            <div class="tagcloud">
                                {% for tag in post.tags.split %}
                                <a href="{% url 'aiwave-blog' %}?search={{ tag }}">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </aside>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
