<!DOCTYPE html>
<html lang="en">

{% include 'partials/head.html' %}
{% load static %}
{% load socialaccount %}

<body>
    <main class="page-wrapper">
        <!-- Start Sign up Area  -->
        <div class="signup-area">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12 bg-color-blackest left-wrapper">
                        <div class="sign-up-box">
                            <div class="signup-box-top">
                                <img src="{{ meta_vars.site_logo }}" alt="sign-up logo">
                            </div>
                            <div class="signup-box-bottom">
                                <div class="signup-box-content">
                                    {% if messages %}
                                    <div class="messages">
                                        {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="social-btn-grp">
                                        <a class="btn-default btn-border"
                                            href=#> <!--"{% provider_login_url 'google' %}?next=/" Tam thoi bo-->
                                            <span class="icon-left"><img src="{% static 'images/sign-up/google.png' %}"
                                                    alt="Google Icon"></span>Đăng nhập với Google
                                        </a>
                                        <a class="btn-default btn-border"
                                            href=#> <!--"{% url 'social:begin' 'facebook' %}?next=/" Tam thoi bo-->
                                            <span class="icon-left"><img
                                                    src="{% static 'images/sign-up/facebook.png' %}"
                                                    alt="Google Icon"></span>Đăng nhập với Facebook
                                        </a>
                                    </div>
                                    <div class="text-social-area">
                                        <hr>
                                        <span>Hoặc tiếp tục với</span>
                                        <hr>
                                    </div>
                                    <form method="POST" action="{% url 'aiwave-signup' %}">
                                        {% csrf_token %}
                                        <div class="input-section">
                                            <div class="position-relative">
                                                <div class="icon">
                                                    <i class="feather-user"></i></div>
                                                <input type="text" name="username" placeholder="Nhập tên của bạn">
                                            </div>
                                            <span id="usernameError"
                                                class="text-danger-600 text-xs mt--10 block">{{field_errors.usernameError}}</span>
                                        </div>
                                        <div class="input-section mail-section">
                                            <div class="position-relative">
                                                <div class="icon"><i class="fa-sharp fa-regular fa-envelope"></i></div>
                                                <input type="email" name="email" placeholder="Nhập địa chỉ email">
                                            </div>
                                            <span id="emailError"
                                                class="text-danger-600 text-xs mt--10 block">{{field_errors.emailError}}</span>
                                        </div>
                                        <div class="input-section password-section">
                                            <div class="position-relative">
                                                <div class="icon"><i class="fa-sharp fa-regular fa-lock"></i></div>
                                                <input type="password" name="password" placeholder="Tạo mật khẩu">
                                            </div>
                                            <span id="passwordError"
                                                class="text-danger-600 text-xs mt--10 block">{{field_errors.passwordError}}</span>
                                        </div>
                                        <div class="input-section password-section">
                                            <div class="position-relative">
                                                <div class="icon"><i class="fa-sharp fa-regular fa-lock"></i></div>
                                                <input type="password" name="confirm_password"
                                                    placeholder="Xác nhận mật khẩu">
                                            </div>
                                            <span id="confirmPasswordError"
                                                class="text-danger-600 text-xs mt--10 block">{{field_errors.confirmPasswordError}}</span>
                                        </div>
                                        <button type="submit" class="btn-default">Đăng ký</button>
                                    </form>
                                </div>
                                <div class="signup-box-footer">
                                    <div class="bottom-text">
                                        Bạn đã có tài khoản? <a class="btn-read-more ml--5"
                                            href="{% url 'aiwave-signin' %}"><span>Đăng nhập</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="close-button" href="{% url 'aiwave-index' %}">
                <i class="fa-sharp fa-regular fa-x"></i>
            </a>
        </div>
        <!-- End Sign up Area  -->
    </main>


    {% include 'partials/progressbar.html' %}

    <!-- JS -->
    {% include 'partials/scripts.html' %}
</body>

</html>