<div class="banner-area">
    <!-- AiWavesmall Slider -->
    <div class="settings-area">
        <h3 class="title">{{headTitle}}</h3>
        <ul class="user-nav">
            <li>
                <a href="{% url 'aiwave-profile-details' %}">
                    <span>Tài khoản</span>
                </a>
            </li>
            <!-- <li>
                <a href="{% url 'aiwave-chat-export' %}">
                    <span>Chat Export</span>
                </a>
            </li> -->
            <!-- <li>
                <a href="{% url 'aiwave-plans-billing' %}">
                    <span>Plans and Billing</span>
                </a>
            </li> -->
            <li>
                <a href="{% url 'aiwave-sessions-page' %}">
                    <span>Thông tin đăng nhập</span>
                </a>
            </li>
        </ul>
    </div>
</div>