<!DOCTYPE html>
<html lang="en">

{% include '../head.html' %}
{% load static %}
<body>

    <main class="page-wrapper">
        
        {% include '../headers/header2.html' %}

        <!-- Imroz Preloader -->
        {% include '../preloader.html' %}

        <!-- Start Breadcrumb Area  -->
        <div class="main-content">
            <!-- Start Breadcarumb area  -->
            <div class="breadcrumb-area breadcarumb-style-1 pt--180 pb--100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-inner text-center">
                                <h3 class="title h3">{{ mainTitle }}</h3>
                                <ul class="page-list">
                                    <li class="rainbow-breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="rainbow-breadcrumb-item active">{{title}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Breadcarumb area  -->
        </div>

        {% block content %}

        {% endblock %} 

    </main>

    <!-- Start Footer Area  -->
    {% include '../footer.html' %}
    <!-- End Footer Area  -->

    {% include '../progressbar.html' %}

    <!-- All Scripts  -->
    {% include '../scripts.html' %}
</body>

</html>