<!DOCTYPE html>
<html lang="en">

{% include '../head.html' %}
{% load static %}
<body>

    <main class="page-wrapper rbt-dashboard-page">
        <div class="rbt-panel-wrapper">

            {% include '../headers/header1.html' %}           
            
            <!-- Imroz Preloader -->
            {% include '../preloader.html' %}
            
            <!-- Start Left panel -->
            {% include '../leftPanel.html' %}
            <!-- End Left panel -->

            <!-- Main content -->
            <div class="rbt-main-content">
                <div class="rbt-daynamic-page-content">

                    <!-- Dashboard Center Content -->
                    {% block content %}

                    {% endblock %} 
                    
                    <!-- Start Left panel -->
                        <!-- {% include '../rightPanel.html' %} -->
                    <!-- End Left panel -->

                </div>
            </div>
        </div>

        

        <!--Like Section Modal HTML -->
        <div id="likeModal" class="modal rbt-modal-box like-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper">
                    <h5 class="title">Provide additional feedback</h5>
                    <div class="chat-form">
                        <div class="text-form">
                            <textarea id="feedbackText" rows="6" placeholder="Send a message..."></textarea>
                        </div>
                    </div>
                    <div class="bottom-btn mt--20">
                        <a class="btn-default btn-small round" href="#" onclick="sendFeedback(); return false;">Send Feedback</a>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="fa-sharp fa-regular fa-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--DisLike Section Modal HTML -->
        <div id="dislikeModal" class="modal rbt-modal-box dislike-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper">
                    <h5 class="title">Why do you like this response?</h5>
                    <select class="form-select" multiple aria-label="multiple select example">
                        <option selected>Irrelevant</option>
                        <option value="2">Offensive</option>
                        <option value="3">Not Correct</option>
                    </select>
                    <div class="chat-form">
                        <h6 class="title">Provide your feedback</h6>
                        <div class="text-form">
                            <textarea rows="6" placeholder="Send a message..."></textarea>
                        </div>
                    </div>
                    <div class="bottom-btn mt--20">
                        <a class="btn-default btn-small round" href="#" onclick="sendFeedback(); return false;">Send Feedback</a>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="fa-sharp fa-regular fa-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Share Section Modal HTML -->
        <div id="shareModal" class="modal rbt-modal-box share-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper modal-small">
                    <h5 class="title">Share</h5>
                    <ul class="social-icon social-default transparent-with-border mb--20">
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="200"><a href="https://www.facebook.com/">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="300"><a href="https://www.twitter.com">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="400"><a href="https://www.instagram.com/">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="500"><a href="https://www.linkdin.com/">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="chat-form">
                        <div class="text-form d-flex align-items-center">
                            <input type="text" class="copy-link-input" value="https://www.youtube.com/" readonly>
                            <button class="btn-default bg-solid-primary" type="submit">Copy</button>
                        </div>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="fa-sharp fa-regular fa-x"></i>
                    </button>
                </div>
            </div>
        </div>

    </main>

    {% include '../progressbar.html' %}
    <!-- All Scripts  -->

    <!-- JS -->
    {% include '../scripts.html' %}

</body>

</html>